<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-editable.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-select.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-table.css">
	<!--<link rel="stylesheet" type="text/css" href="../static/css/mdstyle.css">-->
	<link rel="stylesheet" href="../static/AdminLTE-2.4.5/css/AdminLTE.min.css">
	<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/AdminLTE-2.4.5/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../static/Ionicons/css/ionicons.min.css">

	<script src="../static/js/jquery-3.2.1.min.js"></script>
	 <!--<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>-->
	<script type="text/javascript" src="../static/js/echarts-all.js"></script>
	<script type="text/javascript" src="../static/AdminLTE-2.4.5/js/adminlte.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-table.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-editable.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-table-editable.js"></script>
	<script type="text/javascript" src="../static/js/tableExport.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-table-export.js"></script>
	<script type="text/javascript" src="../static/js/events.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-select.js"></script>
	{% block head %}{% endblock %}
</head>
<style>
	.user_info{
		padding-top: 8px;
	}
	.user_info >a,.user_info>label>a{
		border-color: #fff;
		color:#fff;
	}
</style>

<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">
	<header class="main-header">
		<!-- Logo -->
		<a href="index.html" class="logo">
		  <!-- mini logo for sidebar mini 50x50 pixels -->
		  <span class="logo-mini"><b>MD</b></span>
		  <!-- logo for regular state and mobile devices -->
		  <span class="logo-lg"><b>MD</b>测试实战</span>
		</a>
		<nav class="navbar navbar-static-top " role="navigation">
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
			<div class="navbar-left" style="padding-top: 6px;padding-left: 30px; color: #fff;">
			<ul class="list-inline hidden-xs">
				<span><h4>我的项目：邵逸夫项目</h4></span>
			</ul>
			</div>

			<div class="navbar-custom-menu">
        		<ul class="list-inline hidden-xs">
					<li class="user_info">
						{% if current_user.is_authenticated and current_user.Is_Admin %}
						<label ><a href="{{ url_for('user') }}"><i class="glyphicon glyphicon-user"></i>{{ current_user.username }}</a></label>
						<a href="{{ url_for('logout') }}" class="btn btn-signout">登出</a>
						{% elif current_user.is_authenticated %}
						<label ><i class="glyphicon glyphicon-user"></i>{{ current_user.username }}</label>
						<a href="{{ url_for('logout') }}" class="btn btn-signout">登出</a>

						{% else %}
						<a href="/login" class="btn btn-signin">立即登录</a>
						{% endif %}
					</li>
				</ul>
			  </div>
		</nav>
	</header>

	<script type="text/javascript">

		$(function () {
        $(".navbar-nav").find("li").each(function () {
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
        });

    })
	</script>

	  <aside class="main-sidebar sidebar-collapse">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
		  <ul class="sidebar-menu" data-widget="tree">
			<li class="header">项目概况</li>
			<li>
			  <a href="{{ url_for('dashboard') }}">
				<i class="fa fa-dashboard"></i> <span>项目总览</span>
			  </a>
			</li>
			<li class="treeview">
			  <a href="#">
				<i class="fa fa-files-o"></i>
				<span>Todo事项</span>
				<span class="pull-right-container">
				  <span class="label label-primary pull-right">4</span>
				</span>
			  </a>
			  <ul class="treeview-menu">
				<li><a href="{{ url_for('todo') }}"><i class="fa fa-circle-o"></i>未解决Bug</a></li>
				<li><a href="{{ url_for('todo') }}"><i class="fa fa-circle-o"></i> 已完成Bug</a></li>
				<li><a href="{{ url_for('todo') }}"><i class="fa fa-circle-o"></i> 已关闭Bug</a></li>
				<li><a href="{{ url_for('todo') }}"><i class="fa fa-circle-o"></i> 我的Todo</a></li>
			  </ul>
			</li>
			<li>
			  <a href="{{ url_for('frontPerform') }}">
				<i class="fa fa-th"></i> <span>前端性能测试</span>
				<span class="pull-right-container">
				  <small class="label pull-right bg-green">new</small>
				</span>
			  </a>
			</li>
			<li>
			  <a href="{{ url_for('Items') }}">
				<i class="fa fa-th"></i> <span>项目字段</span>
				<span class="pull-right-container">
				  <small class="label pull-right bg-green">new</small>
				</span>
			  </a>
			</li>
			<li class="treeview">
			  <a href="#">
				<i class="fa fa-pie-chart"></i>
				<span>接口自动化测试</span>
				<span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
			  </a>
			</li>
			<li class="treeview">
			  <a href="#">
				<i class="fa fa-laptop"></i>
				<span>性能监控</span>
				<span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
			  </a>
			</li>
			<li class="treeview">
			  <a href="#">
				<i class="fa fa-edit"></i> <span>知识工程</span>
				<span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
			  </a>
			  <ul class="treeview-menu">
				<li><a href="{{ url_for('knowledge') }}"><i class="fa fa-circle-o"></i> 测试基础概念</a></li>
				<li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Python自动化测试</a></li>
				<li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Jmeter接口测试</a></li>
				<li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> LR性能测试</a></li>
			  </ul>
			</li>
		  </ul>
		</section>
		<!-- /.sidebar -->
	  </aside>
	<div class="content-wrapper">
		{% block content %}{% endblock %}
		<div class="mes-fixed-bottom">
			{% for category,message in get_flashed_messages(with_categories=true) %}
			<div class='alert alert-{{category}}'>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</body>
</html>