{% extends "base.html" %}
{% block title %}登录系统{% endblock %}
{% block content %}
<style>
  .panel{
    margin:0 auto;
    width:400px;
  }
</style>
  <div class="panel panel-success login">
    <div class="panel-heading">
      <h1 class="panel-title text-center">Log In</h1>
    </div>
    <div class="panel-body">
        <form action="{{ url_for('login') }}" method=post>
          <dl>
            <br>
            <dt>Username:
            <dd><input type=text class="form-control" name=loginname>
            <br>
            <dt>Password:
            <dd><input type=password  class="form-control" name=password>
            <br>
            <dd><input type=submit class="btn btn-primary btn-lg btn-block"  value=Login>
          </dl>
        </form>
    </div>
  </div>











{% endblock %}